<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @article.user.name %>
</p>

<%= link_to 'Back', articles_path %>
